<nav class="site-header sticky-top py-1 pt-3 font-size-20">
  <div class="container d-flex flex-column flex-md-row">
    <a class="py-2 col-2" href="/" aria-label="Product">
      <h3
        style="font-weight:bold;font-family: Georgia, 'Times New Roman', Times, serif">
        EMI-Shop
      </h3>
    </a>
    <div
      class="container d-flex flex-column flex-md-row justify-content-between col-8"
    >
      <a class="py-2 d-none d-md-inline-block" href="/"> <h3>Acceuil</h3></a
      ><a class="py-2 d-none d-md-inline-block" href="/catalogue">
        <h3>Catalogue</h3></a
      >
    </div>
    <a class="py-2 d-none d-md-inline-block col-1" (click)="openPanier()" href="">
      <h3><i class="fa fa-shopping-cart" aria-hidden="true"></i></h3
    ></a>

    <a class="py-2 d-none d-md-inline-block col-2" (click)="openDialog()" href=""
      ><h3><i class="fa fa-user" aria-hidden="true"></i></h3>
    </a>
  </div>
</nav>
