<nav class="site-header sticky-top py-1 pt-3">
  <div class="container d-flex flex-column flex-md-row">
    <a class="py-2 col-2" href="/" aria-label="Product">
      <i class="fa fa-adjust fa-lg" aria-hidden="true"></i> EMI-Shop
    </a>
    <div class="container d-flex flex-column flex-md-row justify-content-between col-8">
      <a class="py-2 d-none d-md-inline-block" href="/"> Acceuil</a
      ><a class="py-2 d-none d-md-inline-block" href="/catalogue"> Catalogue</a>
    </div>
      <a class="py-2 d-none d-md-inline-block col-1" (click)="openPanier()" >
        <i class="fa fa-shopping-cart" aria-hidden="true"></i
    ></a>


    <a class="py-2 d-none d-md-inline-block col-2" (click)="openDialog()"
      ><i class="fa fa-user" aria-hidden="true"></i>
    </a>
  </div>
</nav>
