<!--<nav class="site-header sticky-top py-1 pt-3 font-size-20">
  <div class="container d-flex flex-column flex-md-row">
    <a class="py-2 col-2" href="/" aria-label="Product">
      <h3
        style="font-weight:bold;font-family: bebas neue;font-size: 31px;">
        EMI-Shop
      </h3>
    </a>
    <div
      class="container d-flex flex-column flex-md-row justify-content-between col-10"
    >
      <a class="py-2 d-none d-md-inline-block" href="/"> <h3>Acceuil</h3></a
      ><a class="py-2 d-none d-md-inline-block" href="/catalogue">
        <h3>Catalogue</h3></a
      >
    </div>
    <a class="py-2 d-none d-md-inline-block col-1" (click)="openPanier($event)" href="">
      <h3><i class="fa fa-shopping-cart" aria-hidden="true"></i></h3
    ></a>

    <a class="py-2 d-none col-2" (click)="openDialog($event)" href=""
      ><h3><i class="fa fa-user" aria-hidden="true"></i></h3>
    </a>

    <app-search-bar></app-search-bar>
  </div>
</nav>--->


<nav class="navbar navbar-expand-md navbar-dark fixed-top mb-5 " style="background-color: rgb(38, 38, 38);">
  <a class="navbar-brand" href="/"><h3 class="navbar-brand"
    style="font-weight:bold;font-family: bebas neue;font-size: 25px;">
    EMI-Shop
  </h3></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse show" id="navbarCollapse" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link personalized-link" href="/" >Acceuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link personalized-link" href="/catalogue">Catalogue</a>
      </li>
    </ul>
      <a class="nav-link personalized-link " (click)="openPanier($event)" href="" >
        <h3><i class="fa fa-shopping-cart" aria-hidden="true"></i></h3
      ></a>
      <a *ngIf="!token; else elseBlock" class="nav-link personalized-link " (click)="openDialog($event)" href="" >
        <h3><i class="fa fa-user" aria-hidden="true"></i></h3
      ></a>
    <ng-template #elseBlock>
      <div class="dropdown">
        <i class="fa fa-user" aria-hidden="true"></i>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Options
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button mat-raised-button class="dropdown-item" routerLink="#">Mes commandes</button>
          <button mat-raised-button class="dropdown-item" routerLink="#">Detail Profile</button>
          <button mat-stroked-button color="warn" (click)="disconnect()" class="dropdown-item" href="#">Logout</button>
        </div>
      </div>
    </ng-template>
    <app-search-bar></app-search-bar>



  </div>
</nav>
