<div class="mat-dialog-container">
  <div class="mat-dialog-title"><p>Panier</p></div>
  <mat-dialog-content>
  <table mat-table [dataSource]="panier">
    <ng-container matColumnDef="img">
      <th mat-header-cell *matHeaderCellDef> Img. </th>
      <td mat-cell *matCellDef="let element"> <img
        [src]="element.product.picUrl"
        alt="..."
      /> </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name. </th>
      <td mat-cell *matCellDef="let element"> {{element.product.title}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.product.price}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.product.description}} </td>
    </ng-container>
    <ng-container matColumnDef="qte">
      <th mat-header-cell *matHeaderCellDef> qte </th>
      <td mat-cell *matCellDef="let element"> {{panierService.get(element).qte}}
        <button mat-stroked-button  (click)=addQte(element)>+</button>
        <button mat-stroked-button  (click)=minQte(element)>-</button>
        <button mat-stroked-button (click)="remove(element)" routerLink="RefreshComponent"> Retirer </button>
      </td>
    </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    <mat-label>total = {{total}}</mat-label>
  </mat-dialog-content>
  <mat-dialog-actions>

    <button mat-raised-button color="accent" (click)="commander()">commander</button>
  </mat-dialog-actions>
</div>

