<form [formGroup]="loginForm">


  <div class="login-container">
    <h1 style="font-weight: 100; text-align: center;"> Sign in</h1>

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <label>
        <input matInput formControlName="mobileNumber" placeholder="Enter Your Username">
      </label>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <label>
        <input type="password" matInput formControlName="password" placeholder="Enter Password">
      </label>
    </mat-form-field>
    <button mat-raised-button color="primary" class="buy-now-button space" (click)="login()">LOGIN
    </button>


    <label style="text-align: center; margin-top: 5px; color:gray">Or</label>
    <button mat-button mat-stroked-button color="primary" class="button" (click)="inscription()">SIGNUP NOW
    </button>
  </div>
</form>
