<div class="mat-dialog-container">
  <h2 mat-dialog-title>Login</h2>
<form [formGroup]="userForm" autocomplete="off" novalidate (ngSubmit)="login(userForm.value)">
<mat-form-field appearance="outline" style="width: 100%">
  <mat-label for="name">username</mat-label>
  <input matInput  style="height: 20px" type="text" placeholder="username" formControlName="username" id="name">
</mat-form-field>
  <br>
<mat-form-field appearance="outline" style="width: 100%">
    <mat-label for="password">password</mat-label><input style="height: 20px" class="mat-form-field-appearance-fill" matInput type="password" placeholder="password" formControlName="password" id="password">
</mat-form-field >
  <br>
  <mat-dialog-actions>
  <button type="submit" mat-raised-button color="primary">submit</button>
  <button mat-raised-button color="primary" (click)="inscription()" [mat-dialog-close]>inscription</button>
  </mat-dialog-actions>
</form>
</div>
