
  <div class="card text-center">
    <img
    [src]="product.picUrl"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h2 class="card-title">{{product.title}}</h2>
      <h5>Categorie: {{product.categorie}}</h5>
      <p class="card-text">{{product.desc}}</p>
      <h2 class="card-title font-weight-bold">{{product.price}}€</h2>

      <div class="row">
        <div class="col-12"><button class="btn btn-primary" (click)="onSelect()">Ajouter au Panier</button></div>
          <div class="col-3 offset-3 mt-2"><i class="btn btn-outline-success fa fa-thumbs-up" aria-hidden="true"></i> {{product.like}}</div>
          <div class="col-3 mt-2"><i class="btn btn-outline-danger fa fa-thumbs-down" aria-hidden="true"></i> {{product.dislike}}</div></div>




      <a mat-stroked-button [routerLink]="product._id">Plus de Détails</a>
    </div>
</div>
