<div class="card text-center">
  <img [src]="product.picUrl" class="card-img-top" alt="..." />
  <div class="card-body">
    <h2 class="card-title">{{ product.title }}</h2>
    <h5>Categorie: {{ product.categorie }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <h2 class="card-title font-weight-bold">{{ product.price }}€</h2>

    <div class="row">
      <div class="col-3 offset-3 mt-2">
        <i
          class="btn btn-outline-success fa fa-thumbs-up"
          aria-hidden="true"
          (click)="like(product)"
        ></i>
        <span class="like-counter">{{ product.like }}</span>
      </div>
      <div class="col-3 mt-2">
        <i
          class="btn btn-outline-danger fa fa-thumbs-down"
          aria-hidden="true"
          (click)="dislike(product)"
        ></i>
        <span class="like-counter">{{ product.dislike }}</span>
      </div>
    </div>

    <div class="m-3">
      <button mat-raised-button class="bg-dark font-white" (click)="onSelect()">Ajouter Au panier</button>
      <a mat-stroked-button [routerLink]="['/details', product._id]" class="m-3">Plus de Détails</a>
      <button mat-raised-button color="warn" class="btn btn-danger" (click)="onDelete(product._id)">
        <i class="material-icons">delete</i>
      </button>
    </div>
  </div>
</div>
