/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
mat-dialog-container #modal-component{
  border: 3px solid #262626;
  border-radius: 11px;
  background-color: white;
}


